@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=NotoSans');

.header {
    width: auto;
    height: 480px;
    background-image: url("../images/samplebg.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.btn-search {
    background-color: transparent;
    color: #fff9fb;
    border: 1px #fff9fb solid;
}
.btn-search:hover {
    background-color: #007f5f;
    color: #fff9fb;
    border: transparent;
}