@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=NotoSans');  
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'NotoSans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.rowstyle {
    border: 1px black solid;
}
.colstyle {
    border: 1px black yellow;
}
.logo-icon {
    width: 40px;
}