@charset "utf-8";

.header {
    width: auto;
    height: 360px;
}

.avatar-card {
    margin:auto;
    top: 25%;
    background: none;
    border: none;
}

.avatar-card .card-body{
    text-align: center;
    margin-top: 5%;
}

.avatar-card .card-body a{
    margin-top: 10%;
    background-color: #007f5f;
}

.avatar-image {
    margin: auto;
}
.avatar-image img {
    height: 130px;
    width: 130px;
    border: none;
    border-radius: 100%;
}

.avatar-card .card-body .card-title {
    font-size: 24px;
}

.nav-pills .nav-item {
    padding: 14px 16px;
}

.nav-pills .nav-item a{
    /* color: #fff9fb; */
    color: #252627;
    font-size: 18px;
    font-weight: 500;
}

.nav-pills .nav-item .active {
    color: #fff9fb;
    background-color: #252627;
}

/* Edit Profile */
.edit-row {
    margin: 10% auto 10%;
}
.edit-profile-div {
    margin: auto;
    padding: 25px;
    border: 1px solid #007f5f;
    border-radius: 5px;
}